services:
  # Service Auth
  auth:
    build: ./auth_service
    container_name: auth-service
    environment:
      - SERVICE_NAME=auth
      - ARTICLE_SERVICE_URL=http://article-service:5001/article_page
    ports:
      - "5000:5000"
    volumes:
      - auth_db:/app/data
    networks:
      - my_project_network
    depends_on:
      - article

  # Service Article
  article:
    build: ./article_service
    container_name: article-service
    environment:
      - SERVICE_NAME=article
    ports:
      - "5001:5001"
    networks:
      - my_project_network

  # Service Banque
  banque:
    build: ./banque_service
    container_name: banque-service
    environment:
      - SERVICE_NAME=banque
    ports:
      - "5003:5003"
    networks:
      - my_project_network

  # Service Lecteur / Gateway front
  lecteur:
    build: ./lecteur_service
    container_name: lecteur-service
    environment:
      - SERVICE_NAME=lecteur
    ports:
      - "5002:5002"
    networks:
      - my_project_network
    depends_on:    # pour le lancer en dernier
    - auth
    - article
    - banque
      
networks:
  my_project_network:
    driver: bridge

volumes:
  auth_db:

