name: SAST Code Analysis

# Déclenche le workflow sur les mêmes conditions que Gitleaks
on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  semgrep:
    name: Static Application Security Testing
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Semgrep
        run: pip install semgrep

      - name: Run Semgrep
        run: semgrep --config auto --error ./